<div class="storyDetail animated fadeIn" style="overflow: hidden;">
    <div style="margin-top: 50px;height:300px;background: url('public/img/yybw.png') no-repeat center;background-size: 240px 240px; ">
        <img id="playImg" style="border: solid #cccccc 2px;height: 200px;width:200px;margin-top: 50px;"
             ng-src="{{story.img}}" alt=""
             class="img-circle img-bg">
        <div style="position: absolute;top: 160px;left: 0;right: 0;text-align: center">
            <img src="public/img/play.png" ng-click="play()" id="btnPlay" class="img-bg"
                 style="border-radius:50%;height:80px;margin-left: auto;margin-right: auto;display: none;">
            <img src="public/img/pause.png" ng-click="pause()" id="btnPause" class="img-bg"
                 style="border-radius:50%;height:80px;margin-left: auto;margin-right: auto;display: none;">
        </div>
        <a ng-href="{{rightUrl}}" ng-if="story.right!=null"
           style="position:absolute;top:180px;right: 20px;">
            <!--<span style="color: #8BC34A;">上一篇</span>-->
            <i class="glyphicon glyphicon-chevron-right i-btn"
               style="color: #e5e154;font-size: 30px"></i>
        </a>
        <a ng-href="{{leftUrl}}" ng-if="story.left!=null"
           style="position:absolute;top:180px;left: 20px;">
            <i ng-href="" class="glyphicon glyphicon-chevron-left i-btn"
               style="color: #e5e154;font-size: 30px"></i>
            <!--<span style="color: #8BC34A;"> 下一篇</span>-->
        </a>
    </div>
    <div style="margin-bottom: 30px">
        <div style="font-size: 20px;margin-top: 20px">{{story.name}}</div>
    </div>
    <div style="color: #e5e154;margin-bottom: 20px">
        <span ng-click="playType()">
        <i class="glyphicon glyphicon-retweet" id="p1"></i>
        <br>
        <span id="p2" style="color: #8BC34A">
        单曲循环
        </span>
       </span>
        <!--<span>-->
        <!--<i class="glyphicon glyphicon-arrow-right"></i>-->
        <!--<br>-->
        <!--单曲循环-->
        <!--</span>-->
    </div>
    <div id="container" class="animated fadeIn" style="display: none">
        <section id="content_main">
            <article>
                <div id="jquery_jplayer_1" class="jp-jplayer" style="width: 0px; height: 0px;">
                </div>
                <div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
                    <div class="jp-type-single">
                        <div class="jp-gui jp-interface">
                            <div class="jp-volume-controls">
                                <div class="jp-volume-bar">
                                    <div class="jp-volume-bar-value" style="width: 80%;"></div>
                                </div>
                            </div>
                            <div class="jp-controls-holder">
                                <div class="jp-progress">
                                    <div class="jp-seek-bar" style="height:10px;background-color: #fdf9f4;width: 100%;">
                                        <div class="jp-play-bar"
                                             style="height:8px;background-color: #ffeb3b;width: 26.1889%;"></div>
                                    </div>
                                </div>
                                <div class="jp-current-time label label-info" style="float: left;font-size: 16px;"
                                     role="timer"
                                     aria-label="time">00:54
                                </div>
                                <div class="jp-duration label label-success" role="timer"
                                     style="float: right;font-size: 16px;"
                                     aria-label="duration">
                                    -02:32
                                </div>
                            </div>
                        </div>
                        <div class="jp-no-solution" style="display: none;">
                            <span>不支持音频播放</span>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>

    <div class="alert alert-success animated fadeInUpBig" id="sayText1"
         style="margin-top:20px;margin-left:20%;width:60%;display: none">
        故事开头,妈妈想对你说...
    </div>
    <div class="alert alert-info animated fadeInUpBig" id="sayText2" style="margin-left:20%;width:60%;display: none">
        故事开始,小朋友认真听奥...
    </div>
    <div class="alert alert-warning animated fadeInUpBig" id="sayText3" style="margin-left:20%;width:60%;display: none">
        故事结束了,妈妈再来叮嘱几句,晚安,宝贝
    </div>
</div>