<div class="storyDetail animated fadeIn" style="min-height: 700px">

    <button ng-click="starStory(story.id)"
            style="background-color:#70e568;color:#ffffff;position: absolute;border:solid #d4ffa2 2px;border-radius:50%;height:40px;width:40px;right: 20px;top:90px;">
        <i style="font-size: 16px" class="glyphicon glyphicon-star"></i>
    </button>
    <span style="position: absolute;right: 27px;top: 135px;">收藏</span>
    <button ng-click="sendStory(story.id)"
            style="background-color:#e5e154;color:#ffffff;position: absolute;border:solid #FEA 2px;border-radius:50%;height:40px;width:40px;right: 20px;top:20px;">
        <i style="font-size: 16px" class="glyphicon glyphicon-arrow-right"></i>
    </button>
    <span style="position: absolute;right: 5px;top:65px">分享给孩子</span>
    <div style="margin-top: 50px;height:300px;background: url('public/img/yybw.png') no-repeat center;background-size: 240px 240px; ">
        <img id="playImg" style="border: solid #cccccc 2px;height: 200px;width:200px;margin-top: 50px;"
             src="{{story.img}}" alt=""
             class="img-circle img-bg">
        <div style="position: absolute;top: 160px;left: 0;right: 0;text-align: center">
            <img src="public/img/play.png" ng-click="play()" id="btnPlay" class="img-bg"
                 style="border-radius:50%;height:80px;margin-left: auto;margin-right: auto;display: none;">
            <img src="public/img/pause.png" ng-click="pause()" id="btnPause" class="img-bg"
                 style="border-radius:50%;height:80px;margin-left: auto;margin-right: auto;display: none;">
        </div>
    </div>
    <div style="margin-bottom: 50px">
        <div style="font-size: 20px;margin-top: 20px">{{story.name}}</div>
    </div>

    <div id="container" class="animated fadeIn" style="">
        <section id="content_main">
            <article>
                <div id="jquery_jplayer_1" class="jp-jplayer" style="width: 0px; height: 0px;">
                </div>
                <div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
                    <div class="jp-type-single">
                        <div class="jp-gui jp-interface">
                            <div class="jp-volume-controls">
                                <div class="jp-volume-bar">
                                    <div class="jp-volume-bar-value" style="width: 80%;"></div>
                                </div>
                            </div>
                            <div class="jp-controls-holder">
                                <div class="jp-progress">
                                    <div class="jp-seek-bar" style="height:10px;background-color: #fdf9f4;width: 100%;">
                                        <div class="jp-play-bar"
                                             style="height:8px;background-color: #ffeb3b;width: 26.1889%;"></div>
                                    </div>
                                </div>
                                <div class="jp-current-time label label-info" style="float: left;font-size: 16px;"
                                     role="timer"
                                     aria-label="time">00:54
                                </div>
                                <div class="jp-duration label label-success" role="timer"
                                     style="float: right;font-size: 16px;"
                                     aria-label="duration">
                                    -02:32
                                </div>
                            </div>
                        </div>
                        <div class="jp-no-solution" style="display: none;">
                            <span>不支持音频播放</span>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>
    <br>

    <button type="button" class="btn btn-default" ng-click="piantou()">
        <span id="addPT">加片头</span>
        <span class="glyphicon glyphicon-log-in"></span>
    </button>
    <button type="button" class="btn btn-default" ng-click="pianwei()">
        <span class="glyphicon glyphicon-log-out"></span>
        <span id="addPW">加片尾</span>
    </button>
    <hr>
    <div id="btnTip" style="color: darkred;font-size: 20px;" class="animated fadeIn infinite">
        点击“加片头，加片尾”给孩子录音
    </div>
    <div style="text-align: center;width: 64%;margin-left: 18%">
        <div class="row">
            <div class="col-xs-6" style="padding: 0">
                <a id="recordPT" class="weui-btn weui-btn_plain-primary" style="width: 95%;display: none"
                   ng-click="recordPT()">播放片头</a>
            </div>
            <div class="col-xs-6" style="padding: 0">
                <a id="recordPW" class="weui-btn weui-btn_plain-primary"
                   style="margin-top: 0px;width: 95%;display: none"
                   ng-click="recordPW()">播放片尾</a>
            </div>
        </div>
        <a id="tryPlay" class="weui-btn weui-btn_plain-default" style="width: 100%;top: 10px;display: none"
           ng-click="tryPlay()">试听整个故事</a>
    </div>

    <div id="lu" class="row paper animated fadeInUp"
         style="display:none;z-index:10000;height: 400px;position: fixed;bottom: 0px;left: 0;right: 0;">
        <span ng-click="close()" class="glyphicon glyphicon-remove-circle"
              style="color:#f44336;font-size: 30px;float: right;margin: 20px"></span>

        <div class="row" style="position: absolute;width:100%;top: 80px;font-size: 20px;margin: 0 auto">在<span
                style="color: #e64340" id="textPlace">故事开头</span>加入妈妈的声音<br>让孩子感受到浓浓的母爱
        </div>

        <div id="recordPlay" style="position: absolute;top: 180px;display: none;left: 100px;">
            <a style="font-size:18px;" class="weui-btn weui-btn_mini weui-btn_default" ng-click="recordPlay()">
                播放
            </a>
        </div>
        <div id="recordStop" style="position: absolute;top: 180px;display: none;left: 100px;">
            <a style="font-size:18px;" class="weui-btn weui-btn_mini weui-btn_default" ng-click="recordStop()">
                停止
            </a>
        </div>
        <div id="recordUp"
             style="position: absolute;top: 180px;display: none;right: 100px;border-radius: 50%">
            <a style="font-size:18px;" class="weui-btn weui-btn_mini weui-btn_primary" ng-click="recordUp()">
                上传
            </a>
        </div>

        <img id="btnLu1" ng-click="ptlStart()" src="public/img/lu1.jpg"
             style="position: absolute;left: 40%;height: 70px;bottom: 50px;">
        <img id="btnLu2" ng-click="ptlStop()" src="public/img/lu2.png"
             style="position: absolute;left: 40%;height: 75px;bottom: 50px;display: none">
        <span id="btnLuText"
              style="position: absolute;bottom: 10px;font-size: 20px;margin: 0 auto;left: 35%;">点击开始录音</span>
    </div>

    <div id="djs" class="row"
         style="font-size: 30px;color: #fff552;z-index:10010;left: 0px;right: 0px;display:none;bottom: 150px;background-color: rgba(0,0,0,.8);position: absolute;top: 0px;padding-top: 150px">
        正在录音...
        <br>
        只能录音60秒
        <br>
        <span id="recordTime" style="color: #ffffff;font-size: 60px;font-weight: bolder"></span>
    </div>
</div>